
.heading{
    margin-top: 10px;
    font-size: medium;
    font-weight: 600;
    color: aliceblue;
}
header{
    text-align: center;
    background: black;
}
.logo-image{
    border-radius: 50%;
    height: 100px;
}

.top-section-1{
    /* height: 500px; */
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(61, 61, 38);
}

.top-section-2{
    /* height: 500px; */
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(51, 51, 24);
}

.foreground-text{
    color: white;
}